.input-group {
    padding: 4%;
}
#switchPageButton, #backToMainPage {
    margin-top: 1%;
}
.text-center {
    margin-bottom: 1%;
}
#categorieslist, #arealist {
    margin: 1%;
}
.pagination-buttons {
    margin-top: 1.5%;
    margin-right: 0.4%;
}